<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geofence Map</title>
   
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
    h1{
        font-family:Calibri;
    }
</style>
</head>
<body>
    <h1>Geofence Map - KGISL Institute of Technology</h1>
    <button id="view-btn">View Students in Geofence</button>
    <p id="student-count">
        student count : {{students_count }} are away from the bus <br>
        student count : {{inside_bus}} are near to the bus 
    </p>
    
    <div id="map" style="width: 100%; height: 600px;">
        {{ map_html|safe }}
    </div>
    
    <!-- <p id="student-count">
        {{students_count }} are away from the bus
    </p> -->
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        document.getElementById('view-btn').onclick = function() {
            fetch('/count_students')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('student-count').innerText = 'Students within the geofence: ' + data.count;
                });
        };

        setTimeout(function() {
                    markers.forEach(function(marker) {
                        mymap.removeLayer(marker);  // Remove each marker from the map
                    });
                    markers = [];  // Clear the markers array
                    alert("Markers have been removed after 10 seconds.");
                }, 1000);  // 10000 milliseconds = 10 seconds
            
    </script>
</body>
</html>
 